.calendar-main-area{
    width: 100%;
    @include flex(row, center, flex-start);

    .calendar-area{
        width: 80%;

        .month-area{
            @include flex(column, center, center);

            .week-area{
                @include flex(row, center, center);
            }
        }
        .day{
            position: relative;

            .dayheader{
                background-color: #555;
                padding:1rem 3rem;
            }
            .today-dot{
                background-color: $color-pink-01;
                color: white;
                padding:0.8rem;
                border-radius: 50%;
            }

            .daySelected{
                padding: 5rem 3rem;
                background-color: $color-pink-01;
                z-index:2;

                .event{
                    background-color: $color-mint-01;
                    padding: 1rem 2rem;
                    z-index:4;
                }
            }
        }
    }
}