.calendar-main-area{
    @include flex(row, space-between, flex-start);
    width: 100%;
    height: calc(100vh - #{$header-height});
    flex-wrap: wrap;

    .calendar-area{
        width: 80%;
        height: calc(100vh - #{$header-height});
        box-shadow: 0 3px 3px rgba($color-mint-01, 0.4);
        
    }
}